Adding RFC 7233 units to range unit registry

afaict, this draft proposes to replace the fixed model of range units established by RFC 7233 with a registry-based system. wouldn't that mean that the existing units defined in RFC 7233 should be added to the registry's initial content?

Per section 5.1.2 of RFC 7233 ("Registrations"), it looks like "bytes" and "none" are already registered. See

http://www.iana.org/assignments/http-parameters/http-parameters.xhtml#range-units

Or am I missing something?


On 2016-08-01 17:21, Craig Pratt wrote:

> Per section 5.1.2 of RFC 7233 ("Registrations"), it looks like "bytes"
> and "none" are already registered. See
> http://www.iana.org/assignments/http-parameters/http-parameters.xhtml#range-units
> Or am I missing something?

no you're not. i was missing the fact that the registry already was 
established by RFC 7233, so my apologies for the confusion.

http://webconcepts.info/concepts/http-range-units is where i have added 
this web concept (and your draft's new value); many thanks for your help!


np.


btw, we're likely to rename the proposed unit to something like "b-live" based on feedback we've received. (the concern being that some poorly coded implementations may misinterpret "bytes-live" as "bytes)


thanks for the heads-up. i'll have to update http://webconcepts.info/specs/IETF/I-D/pratt-httpbis-bytes-live-range-unit when that happens, and i'll try to keep an eye on the draft. and i guess it's true that some implementations may do rather poor value matching.
